.inputTask {
    display: grid;
    grid-template-columns: 1fr 50px 50px;
    margin-bottom: 15px;
    background: #DBE2EF;
    border-radius: 5px;
    gap: 10px;
 
    &Label {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        padding: 12px 15px;
    }

    &Checkbox {
        width: 20px;
        height: 20px;
    }

    &Title {
        padding: 5px;
        line-height: 1.2;
    }

    &Edit, &Remove {
        display: block;
        border: none;
        background: none no-repeat center center;
        cursor: pointer;
        padding: 0;
    }

    &Edit {

    }

    &Remove {
        
    }
}